*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*HEADER*/

header{
    border-bottom: 2px solid rgb(185, 174, 174);
    box-shadow: 5px 0 10px;
    height: 10vh;
    width: 100vw;
    margin-bottom: 30px;
}

.top-header{
    display:flex ;
    align-items: center;
    padding: 3px;
    position: relative;
}

.top-header .fa-solid {
    font-size: 30px;
    color: rgb(51, 45, 45);
    opacity: 0.95;
    margin: 0, 3px;

}

.logo-header {
    width: 40%;
    height: 80px;
    display: block;
    margin: auto;
    padding-top: 15px;
    position: relative;
    bottom: 5px;
    opacity: 0.95;
    
}


/*MAIN*/

main {
    padding: 5px;
}

.titulo-carrito{
    margin-left: 10px;
    margin-top: 20px;
    color: rgb(59, 49, 49);
    margin-bottom: 20px;
    
    
}
.tarjeta-producto {
    display: flex;
    border-bottom: 2px solid rgb(207, 207, 224) ;
    padding: 15px;
    width: 100%;
    
    
}

.tarjeta-producto img {
    width: 30%;
    
    border-radius: 10px;
    border: 0.5px solid rgb(198, 190, 190);
    box-shadow: 0 2px 10px 3px rgb(90, 97, 107);    
    
}

.producto-precompra{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 5%;
    width: 70%;
    position: relative;
}

.tarjeta-producto .fa-solid{
    color: rgb(175, 62, 62);
}

.tarjeta-producto .fa-solid:hover{
    font-size: 25px;
    color: red;
    transition: 110ms;
}

.descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.descripcion-producto h4 {
    font-size: 18px;
    margin-bottom: 2px;
    color: rgb(53, 57, 62);
}

.opciones-precompra{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 12px;

}

.contenedor-cantidad{
    padding-top: 10px;
}

.cantidad-barra{
    width: 25%;
    margin-left: 5%;
    border-radius: 5px;
    text-align: center;
        
}

.cantidad-barra:hover{
    scale: 1.05;
    box-shadow: 3px 2px 10px 2px rgb(58, 58, 62);
    transition: 10ms;
}

.barra-total-producto{
    width: 30%;
    }

.boton-checkout-box{
    display: flex;
    justify-content: flex-end;
    }




.boton-checkout{
    width: 50%;
    color: #FFFFFF;
    font-weight: 800;
    background-color: #108edc;
    border: 1px solid rgb(8, 23, 30);
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
}

.boton-checkout:hover,
.boton-seguir:hover{
    box-shadow: 2px 2px 10px rgb(33, 30, 30);
    background-color: lightskyblue
}

.boton-seguir-box{
    display: flex;
    justify-content: flex-end;
}

.boton-seguir{
    width: 50%;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #108edc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid rgb(8, 23, 30);
    border-radius: 8px;
}

.sumatoria-productos{
    margin-top: 20px;
    margin-left: 20%;
    font-weight: bold;
    font-size: 18px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media (min-width:768px){
    .descripcion-producto h4{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .titulo-carrito{
        font-size: 40px;
    }
}